.checkout-wrapper {
  padding-top: 15px;
  width: 80%;
  margin: auto;
}

.set-size {
  box-sizing: border-box;
}

.left-checkout {
  padding: 20px;
}

.checkout-title {
  font-size: 24px;
  font-weight: 700;
  display: block;
}

.left-checkout > span {
  margin-top: 10px;
  padding: 10px 0;
  /* border-bottom: 1px solid gray; */
}

.checkout-pricing {
  display: block;
  color: gray;
  padding-top: 20px;
}

.prices {
  padding: 7px 30px;
  display: flex;
  justify-content: space-between;
}


.total-price {
  color: rgb(33, 33, 33);
  padding: 0px 30px;
  line-height: 10px;
  font-size: 20px;
}

.pickup-time {
  display: block;
  font-size: 24px;
  padding: 10px 0;
  font-weight: 700;
}

.order-notes {
  border: 1px solid black;
  margin: 15px 0;
  display: block;
  resize: none;
  padding: 5px;
}

.cash-note {
  color: red;
  display: block;
  margin-bottom: 20px;
}

