.confirmation-wrapper {
    width: 85%;
    margin: auto;
    margin-top: 30px;
}

.confirmation-wrapper > h1 {
  font-size: 40px;
  font-weight: bold;
  color: green;
}

.order-items {
  margin-top: 20px;
  width: 90%
}


.to-order-btn {
  padding: 10px 15px;
  background-color: rgb(0, 169, 0);
  color: white;
  position: relative;
  top: 30px;
  border-radius: 20px;
  transition: background-color .3s;
}

.to-order-btn:hover {
  background-color: green;
}