.food-card-list {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.food-card {
  box-sizing: border-box;
  /* width: calc((100% - (55px*2))/3);
  min-width: 250px;
  max-width: 300px; */
  width: 275px;
  height: 400px;
  padding: 10px;
  margin-right: 35px;
  margin-bottom: 50px;
  /* margin: 0 auto 50px auto; */
  border: 1px solid goldenrod;
}

.food-card > h2 {
  font-size: 28px;
  font-weight: 600;
}