.food-index-wrapper {
  vertical-align:top;
  /* display:inline-block; */
  margin: auto;
  /* border: 1px solid red; */
}

.food-card-list {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
  height: 100%;
  /* border: 1px solid blue; */
}

.food-card {
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 325px;
  padding: 0px 20px 20px;
  margin-right: 45px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.food-card > h2 {
  color: #666;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;    
  font-family: "Bebas Neue",sans-serif;
  transition: color .15s;
}


.food-card:hover > h2 {
  color: green;
}

.search-bar {
  position: absolute;
  top: -25px;
  left: 20px;
  font-size: 20px;
}

.search-food {
  margin-left: 5px;
}