.food-display {
  padding: 50px 0 60px 120px;
  overflow: hidden;
  background-color: rgb(236,236,236);
  color: rgb(84,84,84);
  position: relative;
}

.food-display-child {
  float: left;
}

.food-display-child > h1 {
  font-size: 44px;
  font-weight: 600;
}

.food-display-child > h3 {
  font-size: 28px;
  font-weight: 600;
}

.food-display-child > p {
  font-size: 20px;
}

.food-show-img {
  width: 33%;
  /* opacity: 0.4;
  filter: alpha(opacity=40); */
}

.food-show-info {
  padding-top: 30px;
  padding-bottom: 40px;
  margin-left: 60px;
  width: 50%;
  position: relative;
}

.to-menu-index {
  position: absolute;
  left: 45px;
  bottom: -45px;
  font-size: 18px;
  padding: 5px 10px;
  background-color: #662F1E;
  color: white;
  border-radius: 3px;
}

.to-menu-index:hover {
  color: #E4AF2B;
}

.to-order-page {
  position: absolute;
  padding: 5px 10px;
  bottom: 0px;
  border-radius: 3px;
  font-size: 20px;
  background-color: #E4AF2B;
  color: whitesmoke;
}

.to-order-page:hover {
  color: #662F1E;
}