.footer-wrapper {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  /* height: 180px; */
  width: 100%;
}

.footer {
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  margin: auto;
  padding: 20px 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.left-footer {
  display: block;
  float: left;
  font-size: 20px;
}

.right-footer {
  display: block;
  float: right;
}
.right-footer > a > i{
  margin-left: 10px;
}
.fa-github {
  height: 20px;
}