.homepage-video {
  width: 100%;
}

.order-modal-close {
  position: relative;
  left: 300px;
  font-size: 30px;
} 

.homepage-photos {
  margin-top: 50px;
  padding: 50px 30px;
  float: left;
  border: 1px solid black;
  text-align-last: center; 
  background-color: #303030;
}

.homepage-photo-wrapper {
  position: relative;
  margin: auto;
  display: inline-block;
  width: 45%;
  height: 400px;
}

.homepage-photo {
  margin: auto;
  width: 70%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
} 

.homepage-photo-wrapper:last-child {
  margin-left: 50px;
}

.photo-info {
  position: absolute;
  background: transparent;
  left: 22%;
  top: 15%;
  width: 50%;
  height: 60%;
  padding: 20px;
  z-index: 5;
  text-align: center;
}

.photo-text {
  color: #E9D19B;
  font-size: 36px;
  font-weight: 700;
}

.photo-btn {
  position: relative;
  top: 80px;
  padding: 5px 10px;
  background: rgba(38, 38, 38, 1);
  background-color:  #662F1E;
  color: white;
  font-size: 20px;
  transition: background-color 0.2s;
}


.photo-btn:hover {
  background-color:  #4b2317;
}
