.homepage-video {
  width: 100%;
}

.order-modal-close {
  position: relative;
  left: 300px;
  font-size: 30px;
}

.homepage-photos {
  margin-top: 50px;
  padding: 50px 30px;
  display: flex;
  justify-content: space-around;
  text-align-last: center;
}

.homepage-photo-wrapper {
  position: relative;
  margin: auto;
  display: inline-block;
  width: 45%;
  height: 400px;
}

.homepage-photo {
  margin: auto;
  width: 70%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  border-radius: 3px;
}

.homepage-photo-wrapper:last-child {
  margin-left: 50px;
}

.photo-info {
  position: absolute;
  background: transparent;
  left: 22%;
  top: 15%;
  width: 50%;
  height: 60%;
  padding: 20px;
  z-index: 1;
  text-align: center;
}

.photo-text {
  position: relative;
  color: #e9d19b;
  font-size: 36px;
  font-weight: 700;
}

.photo-btn {
  position: absolute;
  top: 275px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 11px 40px;
  background: rgba(38, 38, 38, 1);
  background: #662f1e;
  color: white;
  font-size: 20px;
}
