.nav-wrapper {
  /* color: white; */
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: white;
  /* background-color: transparent; */
  color: gray;
  /* border-bottom: 1px solid black ; */
  box-shadow: 0 0 8px #3d3d3d;
}

.nav {
  margin: auto;
  width: 80%;
  left: 10%;
  display: flex;
  padding: 20px;
  /* flex-flow: row wrap; */
  justify-content: space-around;
}

.center-nav {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  /* background-color: #fff; */
}

.nav-link {
  box-sizing: border-box;
  /* background-color: teal; */
  padding: 5px 15px;
  text-decoration: none;
  font-family: "Bebas Neue",sans-serif;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

.nav-link-logo {
   font-weight: 700;
}

.nav-button {
  font-size: 20px;
  padding: 10px 15px;
  white-space: nowrap;
}

.nav-login-wrapper {
  position: relative;
  top: 5px;
}

.nav-login {
  z-index: 2;
  color: white;
  background-color: #E4AF2B;
  color: #662F1E;
  text-align: center;
}

.nav-pickup {
  position: relative;
  background-color: #662F1E;
  color: #E4AF2B;
  margin: auto;
  top: -4px;
}