.nav-wrapper {
  /* color: white; */
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: white;
  /* background-color: transparent; */
  color: gray;
  /* border-bottom: 1px solid black ; */
  box-shadow: 0 0 8px #3d3d3d;
}

.nav {
  margin: auto;
  width: 80%;
  left: 10%;
  display: flex;
  padding: 20px;
  /* flex-flow: row wrap; */
  justify-content: space-around;
}

.center-nav {
  display: flex;
  width: 45%;
  justify-content: space-around;
  /* background-color: #fff; */
}

.nav-link {
  box-sizing: border-box;
  /* background-color: teal; */
  padding: 5px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-logo {
   font-weight: 700;
}

.nav-button {
  font-size: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  text-align: center;
}

.nav-button:hover {
  color: white;
}

.nav-login-wrapper {
  position: relative;
  top: 5px;
}

.nav-login {
  position: relative;
  z-index: 2;
  margin-top: -10px;
  background-color: #E4AF2B;
  color: #662F1E;
}

.nav-drp-logout {
  background-color: white;
  color: black;
  top: 43px;
  left: 0px;
  width: 200px;
  height: 100px;
  position: absolute;
  display: none;
  box-shadow: 5px 5px 5px 3px #aaaaaa;
}

.nav-login:hover .nav-drp-logout {
  display: block;
}

.nav-pickup {
  position: relative;
  background-color: #662F1E;
  color: #E4AF2B;
  top: -5px;
  height: 30px;
  padding: 10px 15px 5px;
}

