.nav-wrapper {
  /* color: white; */
  position: fixed;
  display: block;
  width: 100%;
  z-index: 500;
  background-color: white;
  /* background-color: transparent; */
  color: gray;
  /* border-bottom: 1px solid black ; */
  box-shadow: 0 0 8px #3d3d3d;
}

.nav {
  margin: auto;
  width: 80%;
  left: 10%;
  display: flex;
  padding: 20px;
  /* flex-flow: row wrap; */
  justify-content: space-around;
}

.center-nav {
  display: flex;
  width: 65%;
  justify-content: space-around;
  margin: 0 60px;
  /* background-color: #fff; */
}

.nav-link {
  box-sizing: border-box;
  /* background-color: teal; */
  padding: 5px 15px;
  text-decoration: none;
  font-size: 22px;
  height: 32px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-logo {
  position: relative;
  top: -7px;
  font-size: 30px;
  height: 40px;
  font-weight: 700;
}

.nav-button {
  font-size: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  text-align: center;
  transition: color, 0.2s;
}

.nav-button:hover {
  color: rgb(249, 249, 249);
}

.nav-login-wrapper {
  position: relative;
  top: 5px;
}

.nav-login {
  position: relative;
  z-index: 2;
  margin-top: -10px;
  background-color: #E4AF2B;
  color: #662F1E;
}

.nav-drp-logout {
  background-color: rgb(247, 247, 247);
  color: black;
  top: 43px;
  left: 0px;
  width: 200px;
  padding-top: 10px;
  position: absolute;
  box-shadow: 5px 5px 5px 3px #aaaaaa;
  text-align: left;

  /* Transition */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.12s linear;
}

.nav-drp-logout > * {
  box-sizing: border-box;
  display: block;
}

.nav-drp-logout > a, .nav-drp-logout > button {
  /* margin: 5px 10px; */
  /* padding-bottom: 10px; */
  padding: 10px 15px;
  width: 100%;
}
.nav-drp-logout > *:hover {
  background: rgb(210, 209, 209);
}

.nav-drp-logout > button{
  margin-bottom: 10px;
}

.nav-login:hover .nav-drp-logout {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.nav-pickup {
  position: relative;
  background-color: #662F1E;
  color: #E4AF2B;
  top: -5px;
  height: 30px;
  padding: 10px 15px 5px;
}

.about {
  position: relative;
}

.about-links {
  display: none;
  position: absolute;
  width: 150px;
  padding: 5px 10px;
  top: -3px;
  left: 0;
  text-decoration: none;
  font-size: 20px;
}

.about:hover .about-links {
  display: flex;
  justify-content: space-around;
}

.fab {
  /* margin-left: 10px; */
  height: 20px;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  transition: color 0.2s;
  color: #808080;
}

.fab:hover {
  color: rgb(33, 33, 33);
}