.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  font-family: "Bebas Neue",sans-serif;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.order-modal-parent {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    width: 375px;
    height: 425px;
    padding: 5px 30px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.order-modal-child {
  width: 100%;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}

.ord-mod {
  white-space: nowrap;
  color: #662F1E;
  font-family: "Bebas Neue",sans-serif;
} 

.order-modal-title {
  font-size: 48px;
  display: block;
  padding-bottom: 12px;
}

.order-btn-wrapper {
  margin-bottom: 25px;
}

.order-modal-subtitle {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.ord-button {
  width: 100%;
  padding: 15px 60px;
  font-size: 28px;
  font-weight: 500;
}

.pickup {
  display: block;
  background-color: #662F1E;
  color: #E4AF2B;
  transition: background-color .25s;
}

.pickup:hover {
  background-color: #4f2417;
}

.delivery {
  display: block;
  color: #662F1E;
  background-color: #E4AF2B;
  transition: background-color .25s;
}


.delivery:hover { 
  background-color: #d39700;
}