.order-show-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 90%;
}

.order-title {
  font-size: 36px;
  font-weight: 700;
}

.content-wrapper {
  padding-top: 30px;
  margin: auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.ordered-items {
  /* border: 1px solid red;
  height: 300px; */
  margin-right: 40px;
  padding-bottom: 25px;
}


.order-summary {
  font-size: 28px;
  font-weight: 600;
  color: rgb(53, 53, 53);
  padding: 10px 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.order-item-receipt {
  /* border: 1px solid purple; */
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}

.order-item-receipt img {
  object-fit: contain;
  max-height: 150px;
  width: unset;
}

.left-order-item {
  width: 70%;
  min-width: 350px;
  display: flex;
  /* justify-content: space-between; */
}

.order-item-text {
  margin-left: 20px;
}

.order-item-text > span {
  display: block;
  padding-top: 20px;
}

.food-link {
  font-size: 24px;
  font-weight: 600;
  /* transition: color .25s; */
  padding: 10px 0;
  color: green;
}

.food-link:hover {
  text-decoration: underline;
}

.price {
  font-size: 20px;
  color: rgb(84, 84, 84);
}

.update-notes {
  position: relative;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: rgb(5, 42, 255);
  transition: background-color 0.25s;
  color: white;
}

.update-notes:hover {
  background-color: rgb(0, 0, 200);
}

.order-btns {
  margin-left: 35px;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.order-btns > * {
  padding-left: 30px;
  color: white;
  border-radius: 17px;
  padding: 10px 30px;
  transition: background-color 0.5s;
}

.order-btns > a {
  background-color: rgb(0, 169, 0);
}
.order-btns > a:hover {
  background-color: green;
}


.delete-order {
  position: relative;
  left: 50px;
  background-color: rgb(255, 0, 0);
}

.delete-order:hover {
  background-color: rgb(225, 0, 0);
}