.order-page-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 20px; 
  display: flex;
  /* border: 1px solid green; */
}

.order-items {
  width: 65%;
  font-family: "Bebas Neue", sans-serif;
}

.shopping-cart {
    position: sticky;
    top: 70px;
    width: 30%;
    font-family: "Bebas Neue", sans-serif;
    height: 100%;
    padding-left: 20px;
    padding-top: 44px;
    /* border: 1px solid orangered; */
}

.category {
  margin-bottom: 40px;
}

.category-items-wrapper {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.category-item {
  box-sizing: border-box;
  width: 45%;
  min-width: 250px;
  font-family: "Bebas Neue", sans-serif;
  height: 140px;
}

.category-item:hover { 
  cursor: pointer;
}


.category-item:nth-child(odd) {
  margin-right: 20px;
  /* max-width: 45%; */
  /* background-color: red; */
}

.category-item:nth-child(even) {
  margin-left: 20px;
  /* background-color: blue; */
}

/* Get last child only if it's odd (don't disrupt even last children) */
.category-item:nth-last-child(1):nth-child(odd) {
  /* background-color: burlywood; */
  width: 47%;
}

.category-title {
  font-size: 32px;
  font-weight: 700;
}

.order-food-title {
  font-size: 20px;
  height: 10px;
  display: block;
  z-index: 2;
  transition: color .3s;


  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 24px;
}

.category-item:hover .order-food-title { 
  color: green;
}

.order-food-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  height: 40px;
}

.order-food-price {
  position: relative;
  bottom: 0;
  line-height: 1.5;
}

.sold-out-price {
  color: red;
}


/****************************************/
/* Modal CSS */
/****************************************/
.order-item-modal-wrapper {

}

.order-modal-food-item {
  margin-bottom: 30px;
}

.order-item-modal-wrapper h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.order-modal-food-item {
  display: flex;
  justify-content: space-between;
}

.left-order-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-modal-quantity {
    box-sizing: border-box;
    width: 100px;
    justify-content: space-around;
    font-size: 24px;
    background-color: #F0F0F0;
    color: #373737;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}

.quantity-btn {
  text-align: center;
  /* background-color: gray; */
  border-radius: 20px;
  width: 25px;
  height: 25px;
}

.quantity-btn:first-child {
  padding-left: 5px;
}

.quantity-btn:last-child {
  padding-right: 5px;
}

.order-modal-quantity input {
  width: 35px;
  text-align: center;
  font-size: 20px;
}

.order-img-wrapper {
  position: relative;
  /* background: red; */
  width: 85%;
  max-width: 215px; 
  /* height: 200px; */
  margin: 0 20px;
}

.order-img-wrapper > img {
  object-fit: contain;
  width: 100%;
  min-height: 120px;
  max-height: 215px;
}

.in-stock {
  display: none;
}

.sold-out-img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.sold-out {
  display: block;
  margin: unset;
  position: absolute;
  top: 50%;
  /* left: calc(50% - 40px); */
  background-color: rgb(211, 211, 211);
  color: rgb(79, 79, 79);
  width: 100%;
  text-align: center;
}

/*
.order-img ~ h3 {
  position: absolute;
  top: 45%;
  right: 10%;
} */

.disabled {
  color: rgb(180, 180, 180);
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.add-to-cart-btn {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(240, 240, 240);
  background: rgb(26, 167, 26);
  transition: background .5s;
  padding: 10px 15px;
  width: 250px;
  border-radius: 20px;
  margin-top: 5px;
  font-size: 18px;
}

.add-to-cart-btn:hover {
  background: #008854;
}
/* .order-img > img {
  position: relative;
}
.order-img > h2 {
  position: absolute;
  top: 50%;
}
*/
