/* .shopping-cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 300px;
} */

.cart-header {
  padding: 0 10px;
  border: 1px solid lightgray;
}

.cart-items-wrapper {
  /* border: 1px solid purple; */
  height: 300px;
}

.cart-item {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border: 1px solid lightgray;
  border-top: none;
}

.cart-item span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  height: 24px;
}

.cart-item-top {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 18px;
}

.item-top-left {
  display: flex;
  /* justify-content: space-between; */
  width: 75%;
  vertical-align: middle;

  /* border: 1px solid greenyellow; */
}

.cart-quantity {
  padding: 3px;
  width: 40px;
  height: 20px;
  margin-right: 20px;
  background-color: lightgray;
  text-align: center;
  vertical-align: middle;
}

.item-top-right {
  width: 20%;
  /* border: 1px solid goldenrod; */
}

.cart-item-bot {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  width: 50%;
}

.cart-item-bot > button {
  padding: 10px;
  font-size: 16px;
}

.cart-item-bot > button:hover {
  color: green;
}

.separator {
  font-size: 25px;
  font-weight: 100;
}