/* .shopping-cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 300px;
} */

.no-top-border {
  border: 1px solid lightgray;
  border-top: none;
}

.cart-header {
  padding: 0 10px;
  border: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cart-items-wrapper {
  /* border: 1px solid purple; */
  height: 300px;
}

.cart-item {
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
}


.cart-item span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  height: 24px;
}

.cart-item-top {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.cart-item-name {
  font-weight: 700;
  font-size: 16px;
  padding-top: 4px;
  color: rgb(31, 31, 31);
}

.item-top-left {
  display: flex;
  /* justify-content: space-between; */
  width: 75%;
  vertical-align: middle;
  /* border: 1px solid greenyellow; */
}

.cart-quantity {
  padding: 3px;
  width: 40px;
  height: 20px;
  margin-right: 20px;
  background-color: rgb(223, 223, 223);
  text-align: center;
  vertical-align: middle;
}

.item-top-right {
  width: 20%;
  color: gray;
  /* border: 1px solid goldenrod; */
}

.cart-item-bot {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 50%;
  color: rgb(114, 114, 114);
}

.cart-item-bot > button {
  padding: 10px;
  font-size: 16px;
  color: rgb(114, 114, 114);
}

.cart-item-bot > button:hover {
  color: green;
}

.separator {
  font-size: 25px;
  font-weight: 100;
  color: rgb(160, 160, 160);
}

.subtotal {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(23, 23, 23);
  font-size: 20px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}