/* .shopping-cart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 300px;
} */

.no-top-border {
  border: 1px solid lightgray;
  border-top: none;
}

.cart-header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.cart-header > p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}

.top-box {
  border: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.cart-items-wrapper {
  /* border: 1px solid purple; */
  max-height: 300px;
}

.cart-items {
  max-height: 265px;
  overflow-y: auto;
}

.cart-item {
  padding: 10px;
  padding-right: 0;
}

.cart-item-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  height: 24px;

  font-weight: 700;
  font-size: 16px;
  padding-top: 4px;
  color: rgb(31, 31, 31);
  line-height: 24px;
}

.cart-item-top {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.item-top-left {
  display: flex;
  /* justify-content: space-between; */
  width: 75%;
  vertical-align: middle;
  /* border: 1px solid greenyellow; */
}

.cart-quantity {
  padding: 3px;
  min-width: 30px;
  margin-right: 10px;
  background-color: rgb(223, 223, 223);
  text-align: center;
  vertical-align: middle;
}

.item-top-right {
  width: 20%;
  color: gray;
  text-align: right;
  margin-right: 20px;
}

.cart-item-bot {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  width: 50%;
  color: rgb(114, 114, 114);
}

.cart-btn {
  padding: 10px;
  font-size: 16px;
  color: rgb(114, 114, 114);
  transition: color 0.3s;
}

.edit-cart-item:hover {
  color: green;
}

.remove-cart-item:hover {
  color: red;
}

.separator {
  font-size: 25px;
  font-weight: 100;
  color: rgb(160, 160, 160);
}

.shopping-cart-bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid lightgray;
}

.subtotal {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(23, 23, 23);
  font-size: 20px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.checkout-btn {
  box-sizing: border-box;
  display: block;
  margin: auto;
  background: rgb(29, 189, 29);
  color: rgb(240, 240, 240);
  width: 90%;
  padding: 10px 5px;
  margin-bottom: 10px;
  font-size: 20px;
  /* margin: 10px 5px; */
  /* margin: 0 10px; */
  text-align: center;
  border-radius: 20px;
  transition: background 0.5s;
}

.checkout-btn:hover {
  background: rgb(22, 138, 22);
}
