
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  font-family: "Bebas Neue",sans-serif;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 4px;
}

.order-modal-parent {
  display: block;
  box-sizing: border-box;
  border: 1px solid red;
  position: relative;
  /* left: 38%; */
  top: 100px;
  width: 400px;
  height: 450px;
  padding: 30px;
  margin: auto;
}

.order-modal-child {
  width: 100%;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}