.session-form {
  position: relative;
}

.session-header {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.session-field {
  padding: 3px;
  margin: 5px 0;
}

.session-field > input {
  width: 97%;
  margin-left: 5px;
  border-bottom: 1px solid black;
}

.session-button {
  position: absolute;
  right: 2%;
  margin-top: 2px;
  padding: 4px 7px;
  background-color: #E4AF2C;
  color: white;
  border-radius: 3px;
  font-size: 18px;
}

.other-form-link {
  padding-top: 3px;
  border-radius: 3px;
  color: blue;
}
.other-form-link:hover {
  text-decoration: underline;
}

.demo-user {
  margin-top: 20px;
}

.demo-user a {
  margin-left: 5px;
}